@font-face {
    font-family: 'Artegra-sans';
    src: url(./fonts/ArtegraSans-Regular.eot);
    src: url(./fonts/ArtegraSans-Regular.eot?#iefix) format('embedded-opentype'),
        url(./fonts/ArtegraSans-Regular.otf) format('otf'),
        url(./fonts/ArtegraSans-Regular.svg) format('svg'),
        url(./fonts/ArtegraSans-Regular.ttf) format('truetype'),
        url(./fonts/ArtegraSans-Regular.woff) format('woff'),
        url(./fonts/ArtegraSans-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Artegra-sans';
    src: url(./fonts/ArtegraSans-Medium.eot);
    src: url(./fonts/ArtegraSans-Medium.eot?#iefix) format('embedded-opentype'),
       url(./fonts/ArtegraSans-Medium.otf) format('otf'),
       url(./fonts/ArtegraSans-Medium.svg#ArtegraSans-Medium) format('svg'),
       url(./fonts/ArtegraSans-Medium.ttf) format('truetype'),
       url(./fonts/ArtegraSans-Medium.woff) format('woff'),
       url(./fonts/ArtegraSans-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Artegra-sans';
    src: url(./fonts/ArtegraSans-SemiBold.eot);
    src: url(./fonts/ArtegraSans-SemiBold.eot?#iefix) format('embedded-opentype'),
       url(./fonts/ArtegraSans-SemiBold.woff2) format('woff2'),
       url(./fonts/ArtegraSans-SemiBold.woff) format('woff'),
       url(./fonts/ArtegraSans-SemiBold.ttf) format('truetype'),
       url(./fonts/ArtegraSans-SemiBold.svg#ArtegraSans-SemiBold) format('svg'),
       url(./fonts/ArtegraSans-SemiBold.otf) format('otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Artegra-sans';
    src: url(./fonts/ArtegraSans-Bold.eot);
    src: url(./fonts/ArtegraSans-Bold.eot?#iefix) format('embedded-opentype'),
         url(./fonts/ArtegraSans-Bold.otf) format('otf'),
         url(./fonts/ArtegraSans-Bold.svg#ArtegraSans-Bold) format('svg'),
         url(./fonts/ArtegraSans-Bold.ttf) format('truetype'),
         url(./fonts/ArtegraSans-Bold.woff) format('woff'),
         url(./fonts/ArtegraSans-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* font-family: 'Cormorant Garamond', serif; */

body {
    margin: 0;
    font-family: 'Artegra-sans';
    font-size: 33px;
    color: #1C202B;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2 {
   font-family: 'Cormorant Garamond', serif; 
   font-weight: 700;
   letter-spacing: 1.2px;
}


/* Container */


.container {
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
}

/* Header */

.header {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 31px;
}

.logo {
    width: 51px;
    height: 51px;
}

.navigation {
    margin-left: 41px;
}

.nav-link {
    font-size: 16px;
    color: #1C202B;
    text-decoration: none;
    text-transform: uppercase;  
    transition: font-weight 0.2s, color 0.2s;
}

.nav-link:hover {
    transition: 0.2s;
    font-weight: 600; 
    color: #0066A9;
}

.nav-link:not(:last-of-type) {
    margin-right: 90px;
}

.active {
    font-weight: 600;
    color: #0066A9;
}

.btn {
    font-weight: 500;
    font-size: 15px;
    width: 305px;
    height: 51px;
    border-radius: 4px;
    border: 1px solid #0066A9;
    background: #DCF2FF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    transition: background 0.3s, color 0.3s;
}

.btn:hover {
    background: #0066A9;
    color: #DCF2FF; 
    transition: 0.3s;
}



/* Intro */


.intro {
    width: 100%;
    max-height: 1005px;
    background-image: url(img/intro-bg.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    padding: 20% 0;
}

.intro-content {
    text-align: center;
}

.intro-text {
    color: #657085;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.intro-text-span {
    font-size: 55px;
    font-weight: normal;
    color: #1C202B;
    letter-spacing: 2.9px;
    font-family: 'Cormorant Garamond', serif;
    text-transform: lowercase;  
}

.intro-btn {
    width: 332px;
    height: 65px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    margin: 23px auto 0;
}

/* About us */

.about-us {
    background: #018961;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 160px;
}

.about-us-title {
    font-size: 64px;
    margin-left: 165px;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    margin: 40px 0 60px 0;
}

.feature {
    width: 476px;
    color: #FFF;
    font-size: 29px;
    line-height: 36px; 
}

.line {
    border-left: 6px solid #E5F4F1;
    height: 280px;
}

.about-education {
    max-width: 1257px;
    height: 377px;
    background: #E5F4F1;
    border-radius: 25px;
    position: relative;
    margin: 0 auto;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #018961;
    border: 8px solid #E5F4F1;
    position: absolute;
    z-index: 1;
    right: -34px;
    top: -34px;
}

.education-content {
    padding-top: 32px;
    margin-left: 75px;
}

.about-education-title {
    color: #1C202B;
    font-family: Cormorant Garamond;
    font-size: 36px;
}

.about-education-text {
    width: 1122px;
    color: #018961;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: -10px;
}

.about-education-text-span {
    font-weight: 600;
}

/* For user */

.for-user-title {
    font-size: 64px;
    margin-top: 116px;
    margin-left: 165px;
}

.for-user-wrap {
    display: flex;
    justify-content: center;
    margin-top: 108px;
    gap: 36px;
    margin-bottom: 100px;
}

.eng-lvl {
    margin-bottom: 44px;
}

.eng-lvl-title {
    font-size: 16px;
    margin-bottom: 8px;
}

.horizontal-line {
    width: 100%;
    max-width: 258px;
    border-top: 6px solid #0066A9;
    position: absolute;
}

.vertical-line {
    height: 16px;
    border-left: 5px solid #0066A9;
    position: relative;
    bottom: 5px;
    left: 195px;
}

.degrees {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-left: 1px;
    margin-top: -10px;
}

.degree {
    font-size: 14px;
}

.left-side {
    display: flex;
    gap: 24px;
}

.left-images {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.left-img {
    width: 141px;
    height: 151px;
}

.right-images {
    margin-top: 66px;
}

.last-article {
    width: 258px;
    height: 160px;
    border-radius: 14px;
    background: #DCF2FF;
    position: relative;
    text-align: justify;
}

.last-article:before { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 30px; 
	top: -18px; 
	border: 14px solid; 
	border-color: #DCF2FF transparent transparent #DCF2FF; 
    transform: scaleY(-1);
    z-index: -1;
}

.last-article-text {
    width: 210px;
    font-size: 18px;
    padding-top: 18px;
    padding-left: 34px;
}

.first-article-block {
    width: 100%;
    max-width: 487px;
    height: 170px;
    border-radius: 4px;
    background: #DCF2FF;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.right-side {
    display: flex;
    gap: 35px;
    justify-content: center;
}

.first-article {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    max-width: 376px;
    height: 120px;
    line-height: 40px;
    padding-top: 25px;
    margin: 0 auto;
}

.second-article {
    width: 100%;
    max-width: 428px;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px; 
    text-align: justify;
}

.teaching-years {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.teaching-years-span {
    color: #0066A9;
    font-weight: 500;
}

.third-article {
    width: 100%;
    max-width: 1043px;
    height: auto;
    border-radius: 4px;
    background: #DCC09552;
}

.quotes {
    font-size: 35px;
    line-height: 40px;
    margin: 0;
    padding: 40px 0 0 25px;
}

.third-article-text {
    width: 100%;
    max-width: 812px;
    font-size: 20px;
    line-height: 40px;
    padding-left: 20px;
    margin: 4px auto 22px;
    text-align: justify;
}

.bottom-quotes {
    padding: 0 35px 40px 0;
    text-align: right;
}

/* Buy course */

.buy-course {
    padding-bottom: 100px;
}

.for-who-content {
    display: flex;
    gap: 4.5%;
    justify-content: center;
    margin-top: 100px;
}

.element-text {
    width: 425px;
    text-align: center;
    font-size: 32px;
}

.element-text-span {
    font-weight: 600;
}

.btn-wrapper {
    position: relative;
    text-align: center;
}

.buy-course-btn {
    color: #018961;
    font-size: 32px;
    width: 27%;
    height: 84px;
    border-radius: 25px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 192px auto 0;
    transition: background 0.3s, color 0.3s;
}

.buy-course-btn:hover {
    background: #d3d3d3;
    color: #018961; 
    transition: 0.3s;
}

.arrow {
    position: absolute;
}

.left {
    left: 19.5%;
    bottom: -31%;
}

.middle {
    right: 45%;
    bottom: 128%;
}

.right {
    right: 20.5%;
    bottom: -15%;
}

/* FAQ */

.faq {
    margin-bottom: 122px;
}

.faq-questions {
    display: flex;
    flex-direction: column;
    gap: 52px;
    width: 83%;
    /* max-width: 1465px; */
    margin: 56px auto 0;
}

.question {
    position: relative;
    max-width: 1465px;
}

.question-title {
    font-family: 'Artegra-sans';
    font-weight: 500;
    background-color: #DCF2FF;
    font-size: 27px;
    line-height: 14px; 
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding: 44px 49px;
    width: 100%;
    max-width: 1464px;
    border: none;
    border-radius: 9px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-title:hover {
    background-color: #018961;
    color: #FFF;
}

.activated {
    background-color: #018961;
    color: #FFF;
    border-radius: 9px 9px 0 0;
    height: 34px;
    padding-top: 63px;
}

.answer {
    margin-top: -22px;
    background-color: #018961;
    max-height: 0;
    width: 100%;
    max-width: 1464px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 9px 9px;
    color: #FFF;
    font-size: 18px;
    line-height: 160%;
}

.answer-text {
    width: 89.6%;
    padding-left: 4%;
}

.answer-list {
    margin: -12px;
    padding-left: 94px;
}

.question-title:after {
    content: '';
    background: url(img/plus.svg) no-repeat; 
    width: 32px;
    height: 32px;
    color: #BDC2CA;
    float: right;
    margin-left: 5px;
    padding-right: 2px;
    padding-bottom: 2px;
    display: inline-block;
    background-size: contain;
}

.activated:after {
    content: '';
    background: url(img/minus.svg) no-repeat; 
    width: 32px;
    height: 32px;
    position: absolute;
    top: 54px;
    right: 50px;
    display: inline-block;
    background-size: contain;
}

/* Footer */

.footer {
    height: 236px;
    background: #F3F8FF;
}

.foot-logo {
    width: 71px;
    height: 71px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    max-width: 360px;
    margin: 0 auto;
    gap: 1%;
    padding-top: 42px;
}

.school-name {
    color: #0066A9;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    width: 265px;
}

.school-name-span {
    color: #5D616B;
    font-size: 22px;
    font-weight: 400;
}

.footer-navigation {
    margin-left: 139px;
}

.social-media {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 140px;
}

.media-img {
    height: 24px;
    width: 24px;
}

.footer-line {
    width: 84%;
    height: 1.3px;
    background: #1C202B80;
    opacity: 0.5;
    margin: 5px auto 14px;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}

.footer-nav-link {
    font-size: 14px;
    opacity: 0.7;
}

.footer-nav-link:not(:last-of-type) {
    margin-right: 48px;
}

.phone-number {
    color: #1C202B;
    font-size: 14px;
    opacity: 0.7;
    width: 148px;
    margin-right: 118px;
}

@media (max-width: 1600px) {
    .container {
        max-width: 1326px;
    }

    .header {
        height: 60px;
    }

    .logo {
        width: 47px;
        height: 47px;
    }
    
    .nav-link {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        width: 300px;
        height: 47px;
    }

    .intro {
        padding: 16% 0;
    }
    
    .intro-text {
        font-size: 15px;
    }
    
    .intro-text-span {
        font-size: 50px; 
    }

    .about-us {
        padding-top: 50px;
        padding-bottom: 80px;
    }

    .about-us-title {
        font-size: 50px;
        margin-left: 32px;
    }

    .features {
        margin: 45px 0 60px 0;
    }

    .feature {
        font-size: 22px;
        line-height: 34px;
    }

    .line {
        border-left: 4px solid #E5F4F1;
        height: 210px;
    }

    .about-education {
        max-width: 1138px;
        height: 280px;
    }

    .circle {
        width: 75px;
        height: 75px;
        border: 6px solid #E5F4F1;
    }

    .about-education-title {
        font-size: 32px;
    }

    .about-education-text {
        width: 980px;
        font-size: 22px;
        margin-bottom: -12px;
    }

    .for-user-wrap {
        margin-top: 65px;
        gap: 32px;
        margin-bottom: 85px;
    }

    .for-user-title {
        font-size: 50px;
        margin-top: 70px;
        margin-left: 34px;
    }

    .eng-lvl {
        margin-bottom: 12px;
    }

    .eng-lvl-title {
        font-size: 15px;
    }

    .horizontal-line {
        max-width: 210px;
    }

    .vertical-line {
        height: 14px;
        bottom: 4px;
        left: 159px;
    }

    .degrees {
        gap: 24px;
    }

    .degree {
        font-size: 13px;
    }

    .left-img {
        width: 130px;
        height: 139px;
    }

    .right-images {
        margin-top: 51px;
    }

    .right-img {
        height: 180px;
    }

    .last-article {
        width: 254px;
        height: 130px;
    }

    .last-article-text {
        width: 200px;
        font-size: 14px;
        padding-top: 15px;
        padding-left: 30px;
    }

    .articles {
        gap: 30px;
    }

    .first-article-block {
        max-width: 400px;
        height: 150px;
    }

    .first-article {
        font-size: 14px;
        max-width: 360px;
        line-height: 36px;
        padding-left: 32px;
    }

    .second-article {
        height: 140px;
        max-width: 430px;
        padding-top: 10px;
        font-size: 14px;
        line-height: 36px;
    }

    .teaching-years {
        font-size: 18px;
        line-height: 36px;
        text-align: center;
    }

    .third-article {
        max-width: 845px;
    }

    .quotes {
        font-size: 32px;
        line-height: 36px;
        padding: 28px 0 0 25px;
    }

    .third-article-text {
        max-width: 760px;
        font-size: 16px;
        line-height: 36px;
        padding-left: 12px;
        margin: 4px auto 18px;
    }

    .bottom-quotes {
        padding: 0 35px 15px 0;
    }

    .for-who-content {
        gap: 6%;
        margin-top: 70px;
    }

    .element-img {
        width: 320px;
    }

    .element-text {
        width: 320px;
        font-size: 22px;
    }

    .left {
        left: 18.5%;
        bottom: -15%;
        width: 190px;
    }

    .middle {
        right: 45%;
        bottom: 108%;
        height: 150px;
    }

    .buy-course-btn {
        font-size: 26px;
        width: 32%;
        height: 74px;
        margin: 135px auto 0;
    }

    .right {
        right: 18.5%;
        bottom: -10%;
        width: 190px;
    }

    .faq {
        margin-bottom: 100px;
    }

    .faq-questions {
        gap: 45px;
        margin: 45px auto 0;
    }

    .question-title {
        font-size: 20px;
        padding: 28px 40px;
        max-width: 1110px;
    }

    .activated {
        padding-top: 45px;
    }

    .activated::after {
        top: 41px;
    }

    .answer {
        margin-top: -16px;
        font-size: 17px;
        
    }

    .footer {
        height: 200px;
    }

    .footer-logo {
        padding-top: 20px;
    }

    .foot-logo {
        width: 55px;
        height: 55px;
    }

    .school-name {
        font-size: 19px;
        width: 230px;
    }

    .school-name-span {
        font-size: 19px;
    }

    .social-media {
        gap: 17px;
    }

    .footer-line {
        width: 80%;
        margin: 0px auto 4px;
    }

    .footer-nav-link:not(:last-of-type) {
        margin-right: 40px;
    }

    .phone-number {
        margin-top: 18px;
    }
}

@media (max-width: 1335px) {
    .container {
        max-width: 1235px;
    }

    .logo {
        width: 43px;
        height: 43px;
    }

    .navigation {
        margin-left: 20px;
    }

    .nav-link {
        font-size: 13px;
    }

    .nav-link:not(:last-of-type) {
        margin-right: 70px;
    }

    .btn {
        font-size: 13px;
        width: 285px;
    }

    .intro-text {
        font-size: 13px;
    }

    .intro-text-span {
        font-size: 45px;
    }

    .intro-btn {
        font-size: 14px;
    }

    .for-user-title {
        font-size: 42px;
    }

    .about-us-title {
        font-size: 42px;
    }

    .features {
        margin: 35px 0 50px 0;
    }

    .feature {
        font-size: 20px;
        width: 445px;
    }

    .line {
        border-left: 3px solid #E5F4F1;
        height: 195px;
    }

    .about-education {
        max-width: 1015px;
        height: 270px;
    }

    .education-content {
        padding-top: 32px;
        margin-left: 60px;
    }

    .about-education-title {
        font-size: 27px;
    }

    .about-education-text {
        width: 883px;
        font-size: 20px;
    }

    .first-article-block {
        max-width: 360px;
        height: 144px;
    }

    .first-article {
        font-size: 13px;
        padding-left: 29px;
        padding-top: 19px;
    }

    .second-article {
        height: 138px;
        max-width: 370px;
        padding-top: 6px;
        font-size: 13px;
        line-height: 36px;
    }

    .second-article-text {
        padding-left: 14px;
    }

    .teaching-years {
        font-size: 17px;
    }

    .third-article-text {
        font-size: 14px;
        max-width: 690px;
        margin: 0 auto 14px;
    }

    .quotes {
        font-size: 30px;
        padding: 25px 0 0 25px;
    }

    .bottom-quotes {
        padding: 0 30px 11px 0;
    }

    .eng-lvl-title {
        font-size: 13px;
    }

    .horizontal-line {
        max-width: 192px;
        border-top: 5px solid #0066A9;
    }

    .vertical-line {
        height: 14px;
        left: 146px;
        border-left: 4px solid #0066A9;
    }

    .degrees {
        gap: 23px;
    }

    .degree {
        font-size: 11px;
    }

    .left-side {
        gap: 20px;
    }    

    .left-img {
        width: 125px;
        height: 136px;
    }

    .right-img {
        height: 175px;
        width: 140px;
    }

    .last-article {
        width: 242px;
        height: 115px;
    }

    .last-article-text {
        width: 190px;
        font-size: 13px;
    }

    .for-who-content {
        gap: 5%;
        margin-top: 60px;
    }

    .element-img {
        width: 310px;
    }

    .element-text {
        width: 310px;
        font-size: 20px;
    }

    .left {
        width: 175px;
    }

    .middle {
        height: 135px;
    }

    .buy-course-btn {
        font-size: 24px;
        width: 30%;
        height: 68px;
        margin: 128px auto 0;
    }

    .right {
        width: 175px;
    }

    .faq {
        margin-bottom: 85px;
    }

    .faq-questions {
        margin: 40px auto 0;
    }

    .question-title {
        font-size: 18px;
        padding: 26px 37px;
    }

    .question-title:after {
        width: 28px;
        height: 28px;
    }

    .activated {
        padding-top: 37px;
    }

    .activated::after {
        top: 34px;
        width: 28px;
        height: 28px;
    }

    .answer {
        margin-top: -14px;
        font-size: 15px;
        max-width: 1025px
    }

    .answer-text {
        width: 91.6%;
    }

    .br-none {
        display: none;
    }

    .footer {
        height: 188px;
    }

    .footer-logo {
        padding-top: 16px;
    }

    .foot-logo {
        width: 50px;
        height: 50px;
    }

    .school-name {
        font-size: 17px;
        width: 215px;
    }

    .school-name-span {
        font-size: 17px;
    }

    .footer-line {
        width: 82.5%;
    }

    .social-media {
        margin-right: 115px;
    }

    .media-img {
        height: 20px;
        width: 20px;
    }

    .footer-navigation {
        margin-left: 110px;
    }

    .footer-nav-link {
        font-size: 12px;
    }

    .footer-nav-link:not(:last-of-type) {
        margin-right: 32px;
    }

    .phone-number {
        font-size: 12px;
        width: 117px;
        margin-right: 105px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1120px;
    }
    
    .header {
        height: 50px;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .navigation {
        margin-top: -5px;
        margin-left: 5px;
    }

    .nav-link {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
        width: 245px;
        height: 38px;
    }

    .intro-text {
        font-size: 12px;
    }

    .intro-text-span {
        font-size: 40px;
    }

    .intro-btn {
        font-size: 13px;
        height: 47px;
    }

    .about-us {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .about-us-title {
        font-size: 38px;
        margin-left: 40px;
    }

    .features {
        margin: 32px 0 40px 55px;
        gap: 6%;
    }

    .feature {
        font-size: 18px;
        width: 415px;
    }

    .line {
        border-left: 3px solid #E5F4F1;
        height: 178px;
    }

    .about-education {
        max-width: 910px;
        height: 238px;
    }

    .circle {
        width: 65px;
        height: 65px;
        border: 6px solid #E5F4F1;
    }

    .education-content {
        padding-top: 32px;
        margin-left: 48px;
    }

    .about-education-title {
        font-size: 26px;
    }

    .about-education-text {
        width: 800px;
        font-size: 18px;
    }

    .for-user-wrap {
        margin-top: 50px;
        gap: 28px;
        margin-bottom: 50px;
    }

    .for-user-title {
        font-size: 38px;
        margin-left: 40px;
        margin-top: 40px;
    }

    .eng-lvl-title {
        font-size: 12px;
    }

    .degrees {
        gap: 22px;
    }

    .degree {
        font-size: 10px;
    }

    .horizontal-line {
        max-width: 179px;
        border-top: 4px solid #0066A9;
    }

    .vertical-line {
        height: 12px;
        left: 137px;
        border-left: 4px solid #0066A9;
    }

    .left-img {
        width: 120px;
        height: 131px;
    }

    .right-img {
        height: 170px;
        width: 135px;
    }

    .last-article {
        width: 215px;
        height: 110px;
    }

    .last-article-text {
        width: 170px;
        font-size: 12px;
        padding-left: 26px;
    }

    .articles {
        gap: 24px;
    }

    .first-article-block {
        max-width: 340px;
        height: 140px;
    }

    .first-article {
        font-size: 12px;
        padding-left: 17px;
        padding-top: 16px;
        max-width: 300px;
    }

    .second-article {
        height: 134px;
        max-width: 350px;
        padding-top: 5px;
        font-size: 12px;
        line-height: 36px;
    }

    .second-article-text {
        padding-left: 6px;
    }

    .teaching-years {
        font-size: 15px;
    }

    .third-article {
        max-width: 702px;
    }

    .quotes {
        font-size: 28px;
        padding: 20px 0 0 25px;
    }

    .third-article-text {
        font-size: 12px;
        max-width: 632px;
        margin: 0 auto 12px;
    }

    .bottom-quotes {
        padding: 0 30px 5px 0;
    }

    .for-who-content {
        gap: 4%;
        margin-top: 50px;
    }

    .element-img {
        width: 290px;
    }
    

    .element-text {
        width: 290px;
        font-size: 18px;
    }

    .left {
        width: 160px;
        left: 20.5%;
        bottom: -18%;
    }

    .middle {
        height: 120px;
    }

    .buy-course-btn {
        font-size: 20px;
        width: 28%;
        height: 60px;
        margin: 115px auto 0;
    }

    .right {
        width: 160px;
        right: 20.5%;
        bottom: -12%;
    }

    .faq {
        margin-bottom: 70px;
    }

    .faq-questions {
        gap: 40px;
    }

    .question-title {
        font-size: 16px;
        padding: 22px 37px;
    }

    .question-title:after {
        width: 26px;
        height: 26px;
    }

    .activated {
        padding-top: 34px;
    }

    .activated::after {
        top: 31.5px;
        right: 38px;
    }

    .answer {
        margin-top: -12px;
        font-size: 14px;
        max-width: 930px;
    }

    .footer {
        height: 165px;
    }

    .footer-logo {
        max-width: 236px;
    }

    .logo {
        width: 44px;
        height: 44px;
    }

    .school-name {
        font-size: 15px;
        width: 190px;
    }

    .school-name-span {
        font-size: 15px;
    }

    .social-media {
        gap: 16px;
        margin-right: 104px;
        height: 38px;
    }

    .media-img {
        height: 18px;
        width: 18px;
    }

    .footer-text {
        margin: 0 auto;
        max-width: 943px;
    }

    .footer-nav-link {
        font-size: 11px;
    }

    .footer-nav-link:not(:last-of-type) {
        margin-right: 26px;
    }

    .phone-number {
        font-size: 11px;
        width: 108px;
        margin-right: 0;
    }
}